#no {
  padding: 50px;
  font-size: 400%;
  text-align: center;
  color: #ff0000;
}

#debug {
  padding: 50px;
  text-size: 150%;
}

#timer {
  color: #ff0000;
  font-size: 1000%;
  padding-top: 100px;
}
