<!DOCTYPE html>
<html>
<head>
    <title>Zoznam podstránok</title>
</head>
<body>
    <h1>Zoznam podstránok</h1>
    <div>
      <li><a href=admin/>Admin</a></li>
      <li><a href=pokemoni/spravca>Správca hry</a></li>
      <li><a href=pokemoni/prehlad>Všeobecný prehľad</a></li>
      <li><a href=pokemoni/druzinka/>Družinkový náhľad</a></li>
      <li><a href=pokemoni/trening>Tréningové centrum</a></li>
      <li><a href=pokemoni/obchod>Obchod s pokemónmi</a></li>
      <li><a href=pokemoni/jedalen>Jedáleň</a></li>
    </div>
</body>
</html>
