<!DOCTYPE html>
<html>
<head>
    <title>Zoznam podstránok</title>
</head>
<body>
    <h1>Zoznam podstránok</h1>
    <ul>
      <li><a href={% url 'admin:index' %}>Admin</a></li>
      <li><a href={% url 'pokemoni:spravca' %}>Správca hry</a></li>
      <li><a href={% url 'pokemoni:prehlad' %}>Všeobecný prehľad</a></li>
      <li><a href={% url 'pokemoni:trening' %}>Tréningové centrum</a></li>
      <li><a href={% url 'pokemoni:obchod' %}>Obchod s pokemónmi</a></li>
      <li><a href={% url 'pokemoni:jedalen' %}>Jedáleň</a></li>
    </ul>
</body>
</html>
